# Following code was used to explore and clean datasets used for data visualization in Tableau

In [3]:
#Importing libraries
import pandas as pd
import matplotlib as plt
%matplotlib inline

# Global hunger

Data was downloaded from https://datasource.kapsarc.org/explore/dataset/global-hunger-index-2015/information/?disjunctive.country&disjunctive.indicator

In [5]:
df = pd.read_csv('global-hunger-index-2015.csv', sep=';')

In [6]:
df.head()

,Year,COUNTRY,INDICATOR,FREQ,OBS_VALUE,UNIT_MULT,TIME_FORMAT,UNIT_MEASURE
0,2008,Burkina Faso,Global Hunger Index Scores,Annual,37.1,Units,Annual,"Index, 0=No hunger , 100=worst hunger"
1,2016,Burkina Faso,Global Hunger Index Scores,Annual,31.0,Units,Annual,"Index, 0=No hunger , 100=worst hunger"
2,2000,Chad,Global Hunger Index Scores,Annual,51.9,Units,Annual,"Index, 0=No hunger , 100=worst hunger"
3,2005,Chad,Global Hunger Index Scores,Annual,53.1,Units,Annual,"Index, 0=No hunger , 100=worst hunger"
4,1994,Bolivia,Prevalence of Wasting in Children Under Five Y...,Annual,3.6,Units,Annual,%

In [7]:
df['TIME_FORMAT'].value_counts()

Annual    4650
Name: TIME_FORMAT, dtype: int64

In [8]:
df['UNIT_MULT'].value_counts()

Units    4650
Name: UNIT_MULT, dtype: int64

In [9]:
df['FREQ'].value_counts()

Annual    4650
Name: FREQ, dtype: int64

As all values are given in an annual format and unit_mult column only contains 'Units', these columns aren't needed. Let's drop them. Column FREQ has the same value 'Annual' so isn't needed either.

In [10]:
df.drop(['TIME_FORMAT','UNIT_MULT','FREQ'], axis=1, inplace=True)

In [8]:
df.drop(['FREQ'], axis=1, inplace=True)

In [11]:
df.head()

,Year,COUNTRY,INDICATOR,OBS_VALUE,UNIT_MEASURE
0,2008,Burkina Faso,Global Hunger Index Scores,37.1,"Index, 0=No hunger , 100=worst hunger"
1,2016,Burkina Faso,Global Hunger Index Scores,31.0,"Index, 0=No hunger , 100=worst hunger"
2,2000,Chad,Global Hunger Index Scores,51.9,"Index, 0=No hunger , 100=worst hunger"
3,2005,Chad,Global Hunger Index Scores,53.1,"Index, 0=No hunger , 100=worst hunger"
4,1994,Bolivia,Prevalence of Wasting in Children Under Five Y...,3.6,%

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4650 entries, 0 to 4649
Data columns (total 5 columns):
Year            4650 non-null int64
COUNTRY         4650 non-null object
INDICATOR       4650 non-null object
OBS_VALUE       4650 non-null float64
UNIT_MEASURE    4650 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 181.7+ KB

Year column should be represented as as a datetime object

In [13]:
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

In [14]:
df.head()

,Year,COUNTRY,INDICATOR,OBS_VALUE,UNIT_MEASURE
0,2008-01-01,Burkina Faso,Global Hunger Index Scores,37.1,"Index, 0=No hunger , 100=worst hunger"
1,2016-01-01,Burkina Faso,Global Hunger Index Scores,31.0,"Index, 0=No hunger , 100=worst hunger"
2,2000-01-01,Chad,Global Hunger Index Scores,51.9,"Index, 0=No hunger , 100=worst hunger"
3,2005-01-01,Chad,Global Hunger Index Scores,53.1,"Index, 0=No hunger , 100=worst hunger"
4,1994-01-01,Bolivia,Prevalence of Wasting in Children Under Five Y...,3.6,%

In [15]:
df['INDICATOR'].value_counts()

Under-five Mortality  Rate(%)                              999
Prevalence of Wasting in Children Under Five Years(%)      993
Prevalence of Stunting in Children Under Five Years (%)    993
Global Hunger Index Scores                                 891
Proportion of Undernourished in the Population (%)         774
Name: INDICATOR, dtype: int64

In [17]:
df.groupby(['COUNTRY'])['INDICATOR'].value_counts()

COUNTRY        INDICATOR
Afghanistan    Global Hunger Index Scores                                 8
               Prevalence of Stunting in Children Under Five Years (%)    8
               Prevalence of Wasting in Children Under Five Years(%)      8
               Under-five Mortality  Rate(%)                              8
               Proportion of Undernourished in the Population (%)         7
Albania        Global Hunger Index Scores                                 8
               Prevalence of Stunting in Children Under Five Years (%)    8
               Prevalence of Wasting in Children Under Five Years(%)      8
               Under-five Mortality  Rate(%)                              8
               Proportion of Undernourished in the Population (%)         7
Algeria        Global Hunger Index Scores                                 8
               Prevalence of Stunting in Children Under Five Years (%)    8
               Prevalence of Wasting in Children Under Five Years(%)      8
               Under-five Mortality  Rate(%)                              8
               Proportion of Undernourished in the Population (%)         7
Angola         Global Hunger Index Scores                                 8
               Prevalence of Stunting in Children Under Five Years (%)    8
               Prevalence of Wasting in Children Under Five Years(%)      8
               Under-five Mortality  Rate(%)                              8
               Proportion of Undernourished in the Population (%)         7
Argentina      Global Hunger Index Scores                                 8
               Prevalence of Stunting in Children Under Five Years (%)    8
               Prevalence of Wasting in Children Under Five Years(%)      8
               Under-five Mortality  Rate(%)                              8
               Proportion of Undernourished in the Population (%)         7
Armenia        Prevalence of Stunting in Children Under Five Years (%)    7
               Prevalence of Wasting in Children Under Five Years(%)      7
               Under-five Mortality  Rate(%)                              7
               Global Hunger Index Scores                                 6
               Proportion of Undernourished in the Population (%)         5
                                                                         ..
Uzbekistan     Prevalence of Stunting in Children Under Five Years (%)    7
               Prevalence of Wasting in Children Under Five Years(%)      7
               Under-five Mortality  Rate(%)                              7
               Global Hunger Index Scores                                 6
               Proportion of Undernourished in the Population (%)         5
Venezuela, RB  Global Hunger Index Scores                                 8
               Prevalence of Stunting in Children Under Five Years (%)    8
               Prevalence of Wasting in Children Under Five Years(%)      8
               Under-five Mortality  Rate(%)                              8
               Proportion of Undernourished in the Population (%)         7
Vietnam        Global Hunger Index Scores                                 8
               Prevalence of Stunting in Children Under Five Years (%)    8
               Prevalence of Wasting in Children Under Five Years(%)      8
               Under-five Mortality  Rate(%)                              8
               Proportion of Undernourished in the Population (%)         7
Yemen, Rep.    Global Hunger Index Scores                                 8
               Prevalence of Stunting in Children Under Five Years (%)    8
               Prevalence of Wasting in Children Under Five Years(%)      8
               Under-five Mortality  Rate(%)                              8
               Proportion of Undernourished in the Population (%)         7
Zambia         Global Hunger Index Scores                                 8
               Prevalence of Stunting in Children Under Five Years (%)    8
               Prevalence of Wasting in Children Under Five Years(%)      8
               Under-five Mortality  Rate(%)                              8
               Proportion of Undernourished in the Population (%)         7
Zimbabwe       Global Hunger Index Scores                                 8
               Prevalence of Stunting in Children Under Five Years (%)    8
               Prevalence of Wasting in Children Under Five Years(%)      8
               Under-five Mortality  Rate(%)                              8
               Proportion of Undernourished in the Population (%)         7
Name: INDICATOR, Length: 629, dtype: int64

There are a lot of indicators, but our interest is in the Global Hunger Index. Let's create a seperate dataset and save it to work with it in Tableau.

In [18]:
gl_hunger = df.query('INDICATOR=="Global Hunger Index Scores"')

Let's sort the dataset by Year.

In [19]:
gl_hunger.sort_values(['Year'], inplace=True)

/Users/jankierzyk/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
gl_hunger.reset_index(drop=True, inplace=True)

In [21]:
gl_hunger.head()

,Year,COUNTRY,INDICATOR,OBS_VALUE,UNIT_MEASURE
0,1990-01-01,Turkey,Global Hunger Index Scores,14.5,"Index, 0=No hunger , 100=worst hunger"
1,1990-01-01,Paraguay,Global Hunger Index Scores,17.2,"Index, 0=No hunger , 100=worst hunger"
2,1990-01-01,Panama,Global Hunger Index Scores,21.5,"Index, 0=No hunger , 100=worst hunger"
3,1990-01-01,India,Global Hunger Index Scores,48.1,"Index, 0=No hunger , 100=worst hunger"
4,1990-01-01,Colombia,Global Hunger Index Scores,16.7,"Index, 0=No hunger , 100=worst hunger"

As all values use the same unit to measure the hunger, last column isn't needed. We'll just make a note of the fact that 0 represents no hunger and 100 represents the worst hunger in a given country.

In [22]:
gl_hunger.drop(['UNIT_MEASURE'], axis=1, inplace=True)

/Users/jankierzyk/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [23]:
gl_hunger.head()

        Year   COUNTRY                   INDICATOR  OBS_VALUE
0 1990-01-01    Turkey  Global Hunger Index Scores       14.5
1 1990-01-01  Paraguay  Global Hunger Index Scores       17.2
2 1990-01-01    Panama  Global Hunger Index Scores       21.5
3 1990-01-01     India  Global Hunger Index Scores       48.1
4 1990-01-01  Colombia  Global Hunger Index Scores       16.7

In [24]:
gl_hunger.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
Year         891 non-null datetime64[ns]
COUNTRY      891 non-null object
INDICATOR    891 non-null object
OBS_VALUE    891 non-null float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 27.9+ KB

In [25]:
#Saving dataset to excel file
writer = pd.ExcelWriter('global_hunger.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
gl_hunger.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# Energy

File was downloaded from: https://datasource.kapsarc.org/explore/dataset/world-renewable-capacity-2000-2015/information/?disjunctive.country_area&disjunctive.technology&disjunctive.indicator and represents the energy produced by a specific technology for all countries in different years.

In [44]:
energy = pd.read_csv('world-renewable-capacity-2000-2015.csv', sep=';')

In [45]:
energy.head()

,Country/area,Technology,Indicator,Year,Value
0,World,Total renewable energy,Electricity capacity (MW),2000.0,755068.818
1,Algeria,Total renewable energy,Electricity capacity (MW),2012.0,252.600
2,Algeria,Total renewable energy,Electricity capacity (MW),2011.0,252.600
3,Algeria,Total renewable energy,Electricity capacity (MW),2000.0,276.600
4,Algeria,Hydropower,Electricity capacity (MW),2008.0,230.600

In [46]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39492 entries, 0 to 39491
Data columns (total 5 columns):
Country/area    39492 non-null object
Technology      39492 non-null object
Indicator       39492 non-null object
Year            36807 non-null float64
Value           36807 non-null float64
dtypes: float64(2), object(3)
memory usage: 1.5+ MB

Some of the rows are missing values, let's investigate them

In [47]:
energy[energy['Value'].isnull()]

,Country/area,Technology,Indicator,Year,Value
152,Africa,Offshore wind energy,Electricity capacity (MW),NaN,NaN
527,Africa,Renewable municipal waste,Electricity capacity (MW),NaN,NaN
536,Algeria,Marine,Electricity capacity (MW),NaN,NaN
544,Angola,Offshore wind energy,Electricity capacity (MW),NaN,NaN
545,Angola,Pumped storage,Electricity capacity (MW),NaN,NaN
561,Algeria,Liquid biofuels,Electricity capacity (MW),NaN,NaN
562,Algeria,Geothermal,Electricity capacity (MW),NaN,NaN
563,Algeria,Bagasse,Electricity capacity (MW),NaN,NaN
564,Algeria,Biogas,Electricity capacity (MW),NaN,NaN
591,Angola,Liquid biofuels,Electricity capacity (MW),NaN,NaN
592,Angola,Biogas,Electricity capacity (MW),NaN,NaN
613,Algeria,Offshore wind energy,Electricity capacity (MW),NaN,NaN
622,Angola,Marine,Electricity capacity (MW),NaN,NaN
677,Angola,Onshore wind energy,Electricity capacity (MW),NaN,NaN
696,Algeria,Bioenergy,Electricity capacity (MW),NaN,NaN
742,Angola,Renewable municipal waste,Electricity capacity (MW),NaN,NaN
788,Algeria,Renewable municipal waste,Electricity capacity (MW),NaN,NaN
789,Algeria,Other solid biofuels,Electricity capacity (MW),NaN,NaN
829,Algeria,Solid biofuels,Electricity capacity (MW),NaN,NaN
865,Angola,Concentrated solar power,Electricity capacity (MW),NaN,NaN
866,Angola,Wind,Electricity capacity (MW),NaN,NaN
949,Algeria,Pumped storage,Electricity capacity (MW),NaN,NaN
978,Angola,Other solid biofuels,Electricity capacity (MW),NaN,NaN
1008,Botswana,Solid biofuels,Electricity capacity (MW),NaN,NaN
1018,Burkina Faso,Pumped storage,Electricity capacity (MW),NaN,NaN
1028,Burkina Faso,Solid biofuels,Electricity capacity (MW),NaN,NaN
1048,Burundi,Marine,Electricity capacity (MW),NaN,NaN
1071,Burundi,Renewable municipal waste,Electricity capacity (MW),NaN,NaN
1072,Cabo Verde,Marine,Electricity capacity (MW),NaN,NaN
1081,Botswana,Renewable hydropower,Electricity capacity (MW),NaN,NaN
...,...,...,...,...,...
39049,Bulgaria,Geothermal,Electricity capacity (MW),NaN,NaN
39064,Croatia,Marine,Electricity capacity (MW),NaN,NaN
39071,Croatia,Offshore wind energy,Electricity capacity (MW),NaN,NaN
39084,Croatia,Bagasse,Electricity capacity (MW),NaN,NaN
39085,Croatia,Renewable municipal waste,Electricity capacity (MW),NaN,NaN
39164,Chile,Bagasse,Electricity capacity (MW),NaN,NaN
39185,Colombia,Pumped storage,Electricity capacity (MW),NaN,NaN
39186,Colombia,Marine,Electricity capacity (MW),NaN,NaN
39220,Kuwait,Liquid biofuels,Electricity capacity (MW),NaN,NaN
39227,Lebanon,Marine,Electricity capacity (MW),NaN,NaN
39246,Lebanon,Other solid biofuels,Electricity capacity (MW),NaN,NaN
39264,Oman,Biogas,Electricity capacity (MW),NaN,NaN
39284,Palestine,Renewable municipal waste,Electricity capacity (MW),NaN,NaN
39290,Palestine,Geothermal,Electricity capacity (MW),NaN,NaN
39294,Qatar,Marine,Electricity capacity (MW),NaN,NaN
39295,Qatar,Wind,Electricity capacity (MW),NaN,NaN
39319,Brazil,Renewable municipal waste,Electricity capacity (MW),NaN,NaN
39325,Brazil,Geothermal,Electricity capacity (MW),NaN,NaN
39365,Chile,Renewable municipal waste,Electricity capacity (MW),NaN,NaN
39404,Cyprus,Solid biofuels,Electricity capacity (MW),NaN,NaN
39424,Colombia,Liquid biofuels,Electricity capacity (MW),NaN,NaN
39427,Qatar,Geothermal,Electricity capacity (MW),NaN,NaN
39435,Saudi Arabia,Marine,Electricity capacity (MW),NaN,NaN
39454,Saudi Arabia,Solid biofuels,Electricity capacity (MW),NaN,NaN
39481,Syrian AR,Concentrated solar power,Electricity capacity (MW),NaN,NaN
39482,Syrian AR,Solid biofuels,Electricity capacity (MW),NaN,NaN
39483,Syrian AR,Bagasse,Electricity capacity (MW),NaN,NaN
39484,Syrian AR,Other solid biofuels,Electricity capacity (MW),NaN,NaN
39485,Syrian AR,Liquid biofuels,Electricity capacity (MW),NaN,NaN
39489,Syrian AR,Geothermal,Electricity capacity (MW),NaN,NaN

Even though it's a lot of rows, they don't represent anything as have null as Year and Value. Let's drop them

In [48]:
energy.dropna(inplace=True)

In [49]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36807 entries, 0 to 39491
Data columns (total 5 columns):
Country/area    36807 non-null object
Technology      36807 non-null object
Indicator       36807 non-null object
Year            36807 non-null float64
Value           36807 non-null float64
dtypes: float64(2), object(3)
memory usage: 1.7+ MB

Let's transform Year column to datetype. First float needs to be changed to integer and then to a datetime format.

In [50]:
energy['Year']=energy['Year'].astype(int)

In [51]:
energy['Year'] = pd.to_datetime(energy['Year'], format='%Y')

In [52]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36807 entries, 0 to 39491
Data columns (total 5 columns):
Country/area    36807 non-null object
Technology      36807 non-null object
Indicator       36807 non-null object
Year            36807 non-null datetime64[ns]
Value           36807 non-null float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.7+ MB

In [53]:
writer = pd.ExcelWriter('energy.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
energy.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# Poverty

The poverty data was downloaded from http://databank.worldbank.org/data/reports.aspx?source=poverty-and-equity-database#

In [59]:
poverty = pd.read_csv("Poverty.csv")

In [60]:
poverty.head()

,Year,Year Code,Country,Country Code,Number of poor at $1.90 a day (2011 PPP) (millions) [SI.POV.NOP1],Number of poor at $3.20 a day (2011 PPP) (millions) [SI.POV.LMIC.NO],Number of poor at $5.50 a day (2011 PPP) (millions) [SI.POV.UMIC.NO],"Population, total [SP.POP.TOTL]"
0,1974,YR1974,Afghanistan,AFG,..,..,..,12321541
1,1974,YR1974,Albania,ALB,..,..,..,2350124
2,1974,YR1974,Algeria,DZA,..,..,..,16247113
3,1974,YR1974,Angola,AGO,..,..,..,7474338
4,1974,YR1974,Argentina,ARG,..,..,..,25644506

Some of the columns won't be needed - Year Code and Country Code can definitely be removed

In [61]:
poverty.drop(['Year Code', 'Country Code'], axis=1, inplace=True)

In [62]:
poverty.head()

,Year,Country,Number of poor at $1.90 a day (2011 PPP) (millions) [SI.POV.NOP1],Number of poor at $3.20 a day (2011 PPP) (millions) [SI.POV.LMIC.NO],Number of poor at $5.50 a day (2011 PPP) (millions) [SI.POV.UMIC.NO],"Population, total [SP.POP.TOTL]"
0,1974,Afghanistan,..,..,..,12321541
1,1974,Albania,..,..,..,2350124
2,1974,Algeria,..,..,..,16247113
3,1974,Angola,..,..,..,7474338
4,1974,Argentina,..,..,..,25644506

In [63]:
poverty.Year.value_counts()

2008                                      176
2016                                      176
1987                                      176
2013                                      176
1977                                      176
1983                                      176
1976                                      176
1991                                      176
1988                                      176
1984                                      176
1994                                      176
1974                                      176
2010                                      176
2009                                      176
1980                                      176
1986                                      176
1990                                      176
1981                                      176
1982                                      176
2015                                      176
1995                                      176
1998                                      176
2000                                      176
2001                                      176
1997                                      176
1979                                      176
2011                                      176
2017                                      176
2014                                      176
2003                                      176
1975                                      176
2004                                      176
1993                                      176
1985                                      176
2006                                      176
1989                                      176
1996                                      176
2005                                      176
2002                                      176
2007                                      176
1992                                      176
1978                                      176
2012                                      176
1999                                      176
Data from database: Poverty and Equity      1
Last Updated: 09/21/2018                    1
Name: Year, dtype: int64

The Year column has Last Updated: 09/21/2018 and Data from database: Poverty and Equity wchich don't represent time. They should be removed.

In [64]:
poverty = poverty[(poverty['Year']!='Last Updated: 09/21/2018') &
                  (poverty['Year']!='Data from database: Poverty and Equity')]

In [65]:
poverty['Year'].value_counts()

2008    176
1998    176
1987    176
2013    176
1977    176
1983    176
1976    176
1991    176
1988    176
1984    176
1994    176
1974    176
2010    176
2009    176
1980    176
1986    176
1990    176
1981    176
1982    176
2015    176
1995    176
2000    176
2016    176
2001    176
1997    176
1979    176
2011    176
2017    176
2014    176
2003    176
1975    176
2004    176
1993    176
1985    176
2012    176
2006    176
1989    176
1996    176
2005    176
2002    176
2007    176
1992    176
1978    176
1999    176
Name: Year, dtype: int64

In [66]:
#Converting Year column to a datetime format
poverty['Year'] = pd.to_datetime(poverty['Year'])

In [67]:
poverty.columns

Index(['Year', 'Country',
       'Number of poor at $1.90 a day (2011 PPP) (millions) [SI.POV.NOP1]',
       'Number of poor at $3.20 a day (2011 PPP) (millions) [SI.POV.LMIC.NO]',
       'Number of poor at $5.50 a day (2011 PPP) (millions) [SI.POV.UMIC.NO]',
       'Population, total [SP.POP.TOTL]'],
      dtype='object')

The names of columns are quite complicated with category codes. Renaming them:

In [68]:
poverty.rename(columns = {'Number of poor at $1.90 a day (2011 PPP) (millions) [SI.POV.NOP1]': '$1.90 a day (millions)',
                          'Number of poor at $3.20 a day (2011 PPP) (millions) [SI.POV.LMIC.NO]': '$3.20 a day (millions)',
                          'Number of poor at $5.50 a day (2011 PPP) (millions) [SI.POV.UMIC.NO]': '$5.50 a day (millions)',
                          'Population, total [SP.POP.TOTL]': 'Population'},inplace=True)

In [69]:
poverty.dropna(inplace=True)

In [70]:
poverty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7744 entries, 0 to 7743
Data columns (total 6 columns):
Year                      7744 non-null datetime64[ns]
Country                   7744 non-null object
$1.90 a day (millions)    7744 non-null object
$3.20 a day (millions)    7744 non-null object
$5.50 a day (millions)    7744 non-null object
Population                7744 non-null object
dtypes: datetime64[ns](1), object(5)
memory usage: 423.5+ KB

Dataset instead of using nulls uses '..' to represent missing data. Let's get rid of rows that have no data.

In [71]:
poverty = poverty[(poverty['$1.90 a day (millions)'] != '..') & (poverty['$3.20 a day (millions)'] != '..') & (poverty['$5.50 a day (millions)']!='..')]

In [72]:
#Reseting index
poverty.reset_index(drop=True, inplace=True)

In [73]:
#All of the columns were represented as strings, it's now time to change them to floats
poverty['$1.90 a day (millions)'] = poverty['$1.90 a day (millions)'].astype(float)

In [74]:
poverty['$3.20 a day (millions)'] = poverty['$3.20 a day (millions)'].astype(float)

In [75]:
poverty['$5.50 a day (millions)'] = poverty['$5.50 a day (millions)'].astype(float)

In [76]:
poverty['Population'] = poverty['Population'].astype(float)

Let's now transform the number of poor (remembering that the number represents millions of people) to a proportion of the entire population.

In [77]:
poverty['$1.90 a day (millions)'] = (poverty['$1.90 a day (millions)'] *1000000)/ poverty['Population']

In [78]:
poverty['$3.20 a day (millions)'] = (poverty['$3.20 a day (millions)'] *1000000)/ poverty['Population']
poverty['$5.50 a day (millions)'] = (poverty['$5.50 a day (millions)'] *1000000)/ poverty['Population']

Columns need to be renamed again as they no longer represent millions but proportion.

In [79]:
poverty.rename(columns = {'$1.90 a day (millions)': '$1.90 a day',
                          '$3.20 a day (millions)': '$3.20 a day',
                          '$5.50 a day (millions)': '$5.50 a day'}, inplace=True)

In [80]:
writer = pd.ExcelWriter('poverty.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
poverty.to_excel(writer, sheet_name='Sheet1', header=True)

# Close the Pandas Excel writer and output the Excel file.
writer.save()